#-------------------------------------------------------------------------------
#                               GITIGNORE                                      #
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
#                           IGNORE ALL BY DEFAULT                              #
#-------------------------------------------------------------------------------

*

#-------------------------------------------------------------------------------
#                                EXCEPTIONS                                    #
#-------------------------------------------------------------------------------

!LICENSE
!.editorconfig
!.gitignore
!*.cff
!*.md
!*.png

#-------------------------------------------------------------------------------
#                          ALLOW DIRECTORY TRAVERSAL                           #
#-------------------------------------------------------------------------------

!*/

#-------------------------------------------------------------------------------
#                          EXPLICITLY EXCLUDED FOLDERS                         #
#-------------------------------------------------------------------------------

fingerprint/
fingerprint/**

#-------------------------------------------------------------------------------
