#-------------------------------------------------------------------------------
#                               GITIGNORE                                      #
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
#                           IGNORE ALL BY DEFAULT                              #
#-------------------------------------------------------------------------------

*

#-------------------------------------------------------------------------------
#                                EXCEPTIONS                                    #
#-------------------------------------------------------------------------------

!.gitignore
!*.md
!*.png

#-------------------------------------------------------------------------------
#                          ALLOW DIRECTORY TRAVERSAL                           #
#-------------------------------------------------------------------------------

!*/

#-------------------------------------------------------------------------------
#                          EXPLICITLY EXCLUDED FOLDERS                         #
#-------------------------------------------------------------------------------

fingerprint/
fingerprint/**

#-------------------------------------------------------------------------------
